# Virtual environment
fastapienv/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
*.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
